<blockquote class="quote">
    <p class="quote__mark">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, quasi fuga aspernatur natus ipsa itaque est
        quibusdam illo error aliquam nesciunt sapiente facere totam porro in dignissimos dolor non ea?
    </p>
    <footer>
        <div class="media">
            <div class="media__image">
                <svg class="icon icon--primary author__img">
                    <use xlink:href="./images/sprite.svg#line"></use>
                </svg>
            </div>
            <div class="media__body">
                <h3 class="media__title author__name">
                    John Doe
                </h3>
                <p class="author__company">
                    ABC Company
                </p>
            </div>
    </footer>
</blockquote>