<section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
        <h2 class="block__heading">
            User Friendly Control Panel
        </h2>
    </header>
    <div class="container grid grid--col-2">
        <img src="./images/ipad.png" alt="" class="block-showcase__image">

        <ul class="list">
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use xlink:href="./images/sprite.svg#wordpress"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Easy Start & Managed Updates</h3>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis
                            expedita corrupti accusamus reiciendis nemo rerum iusto magnam ullam ea
                            voluptatum.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use xlink:href="./images/sprite.svg#snap"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Easy Start & Managed Updates</h3>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis
                            expedita corrupti accusamus reiciendis nemo rerum iusto magnam ullam ea
                            voluptatum.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use xlink:href="./images/sprite.svg#snap"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Easy Start & Managed Updates</h3>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis
                            expedita corrupti accusamus reiciendis nemo rerum iusto magnam ullam ea
                            voluptatum.
                        </p>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</section>